In [1]:
#   Bibliotecas
import pandas as pd
from conexao_oracle import conexao_local_host

#   ABERTURA DO ARQUIVO
dados = pd.read_csv('tbl_cep_201805_csv.csv',encoding="ISO-8859-1")

In [2]:
#   Filtrando colunas, os nulos e codigos ibge repetidos para a inserção de registros
dados_filtrado = dados[['cidade_ibge','estado','cidade','cidade_area']]
dados_filtrado.dropna(subset=['cidade'])
cidades = dados_filtrado.drop_duplicates(subset='cidade_ibge',)

In [3]:
#    visualização do DataFrame
cidades

         cidade_ibge estado               cidade  cidade_area
0            3550308     SP            São Paulo     1521.110
49314        3534401     SP               Osasco       64.954
53265        3510609     SP          Carapicuíba       34.546
55375        3505708     SP              Barueri       65.701
57052        3547304     SP  Santana de Parnaíba      179.949
...              ...    ...                  ...          ...
1108488      4305371     RS              Charrua      198.124
1108490      4300059     RS           Água Santa      291.902
1108495      4305504     RS              Ciríaco      273.873
1108500      4306304     RS      David Canabarro      174.939
1108503      4312625     RS            Muliterno      111.132

[5382 rows x 4 columns]

In [4]:
#   Iteravel para a inserção de registros na tabela TB_CIDADE
for index,linha in cidades.iterrows():
    conexao = conexao_local_host()
    cursor = conexao.cursor()
    sql = """INSERT INTO TB_CIDADE (COD_IBGE,SIGLA_UF, CIDADE,CIDADE_AREA)  
                            VALUES (:COD_IBGE,:SIGLA_UF,:CIDADE,:CIDADE_AREA)"""
    try:
        conexao.autocommit=True
        cursor.execute(sql,[float(linha[0]),linha[1],linha[2],float(linha[3])])
        print(linha)
        
    except:
        print('ERROR INESPERADO EM:',linha)
        pass